// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    scroll-behavior: smooth;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.elevate-1 {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}